<!DOCTYPE html>
<html>
  <head>
    <titles>
      fortune!!
    </titles>
  </head>
  <body>
    <h1>
      Heres your fortune
    </h1> 
    <h3> hi, <%=@the_user%> , your fortune is <%=@the_fortune%>. </h3>
  </body>
</html>